@model PlantBaby.Models.PlantType

<div class="text-center">
    <h1>@Model.Name</h1>

    <table class="table">
        <tr>
            <th>Average Height (inches)</th>
            <th>Suggested Light Exposure</th>
            <th>Water Frequency (days)</th>
            <th>Suggested Soil Type</th>
        </tr>
        <tr>
            <td>@Model.Size</td>
            <td>@Model.Light</td>
            <td>@Model.Water</td>
            <td>@Model.SoilType</td>
        </tr>
    </table>
</div>
